parameters:
	ignoreErrors:
		-
			message: '#^Offset ''auto'' on array\{auto\: string, elder\: string\|null, elder_author\: string\|null\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Domain/Games/CrosswordEngine.php

		-
			message: '#^Parameter &\$grid by\-ref type of method App\\Domain\\Games\\CrosswordEngine\:\:placeWordOnGrid\(\) expects list\<list\<string\|null\>\>, non\-empty\-list\<non\-empty\-array\<int, string\|null\>\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: src/Domain/Games/CrosswordEngine.php

		-
			message: '#^Parameter \#1 \$array \(list\<array\{id\: mixed, key\: mixed, label_en\: mixed, label_oj\: mixed\}\>\) of array_values is already a list, call has no effect\.$#'
			identifier: arrayValues.list
			count: 1
			path: src/Domain/Games/JourneyEngine.php

		-
			message: '#^Method App\\Http\\Controller\\Games\\AgimController\:\:getEntityTypeManager\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Http/Controller/Games/AgimController.php

		-
			message: '#^Parameter \#1 \$log of method App\\Ingestion\\IngestMaterializer\:\:materialize\(\) expects App\\Entity\\Ingestion\\IngestLog, Waaseyaa\\Entity\\EntityInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controller/Ingestion/IngestionApiController.php
