parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$community of method Minoo\\Controller\\CommunityController\:\:findNearbyCommunities\(\) expects Waaseyaa\\Entity\\ContentEntityBase, Waaseyaa\\Entity\\EntityInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CommunityController.php

		-
			message: '#^Parameter \#2 \$communities of method Minoo\\Service\\LocationResolver\:\:resolveNearbyCommunities\(\) expects array\<Waaseyaa\\Entity\\ContentEntityBase\>, list\<Waaseyaa\\Entity\\EntityInterface\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CommunityController.php

		-
			message: '#^Parameter \#3 \$communities of method Minoo\\Domain\\Geo\\Service\\CommunityFinder\:\:findNearby\(\) expects array\<Waaseyaa\\Entity\\ContentEntityBase\>, list\<Waaseyaa\\Entity\\EntityInterface\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CommunityController.php

		-
			message: '#^Strict comparison using \!\=\= between Waaseyaa\\Entity\\EntityInterface and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 2
			path: src/Controller/CommunityController.php

		-
			message: '#^Parameter \#1 \$entities of method Minoo\\Controller\\CoordinatorDashboardController\:\:buildCommunityNameMap\(\) expects array\<Waaseyaa\\Entity\\ContentEntityBase\>, array\<int\|string, Waaseyaa\\Entity\\EntityInterface\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CoordinatorDashboardController.php

		-
			message: '#^Parameter \#2 \$openRequests of method Minoo\\Controller\\CoordinatorDashboardController\:\:buildRankedMap\(\) expects array\<Waaseyaa\\Entity\\ContentEntityBase\>, list\<Waaseyaa\\Entity\\EntityInterface\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CoordinatorDashboardController.php

		-
			message: '#^Parameter \#3 \$volunteers of method Minoo\\Controller\\CoordinatorDashboardController\:\:buildRankedMap\(\) expects array\<Waaseyaa\\Entity\\ContentEntityBase\>, array\<int\|string, Waaseyaa\\Entity\\EntityInterface\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/CoordinatorDashboardController.php

		-
			message: '#^Strict comparison using \=\=\= between non\-empty\-string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Controller/EngagementController.php

		-
			message: '#^Offset ''entity_id'' does not exist on array\{name\: string, slug\: string, distance\?\: float\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Controller/FeedController.php

		-
			message: '#^Strict comparison using \=\=\= between non\-empty\-string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Controller/IshkodeController.php

		-
			message: '#^Property Minoo\\Controller\\LocationController\:\:\$twig is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Controller/LocationController.php

		-
			message: '#^Method Minoo\\Controller\\VolunteerDashboardController\:\:findVolunteerByAccount\(\) should return Waaseyaa\\Entity\\ContentEntityBase\|null but returns Waaseyaa\\Entity\\EntityInterface\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Controller/VolunteerDashboardController.php

		-
			message: '#^Method Minoo\\Domain\\Geo\\Service\\LocationService\:\:loadAllCommunities\(\) should return array\<Waaseyaa\\Entity\\ContentEntityBase\> but returns array\<int\|string, Waaseyaa\\Entity\\EntityInterface\>\.$#'
			identifier: return.type
			count: 1
			path: src/Domain/Geo/Service/LocationService.php

		-
			message: '#^Method Minoo\\Feed\\EntityLoaderService\:\:loadFeaturedItems\(\) should return list\<array\{featured\: mixed, entity\: mixed, url\: string\}\> but returns list\<array\{featured\: Waaseyaa\\Entity\\EntityInterface, entity\: Waaseyaa\\Entity\\EntityInterface\}\>\.$#'
			identifier: return.type
			count: 1
			path: src/Feed/EntityLoaderService.php

		-
			message: '#^Offset ''comments'' on array\{reactions\: int, comments\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Feed/FeedAssembler.php

		-
			message: '#^Offset ''reactions'' on array\{reactions\: int, comments\: int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: src/Feed/FeedAssembler.php

		-
			message: '#^Variable \$http_response_header on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Support/GeocodingService.php
