<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minoo Newsletter{% endblock %}</title>
    <style>
        {% block styles %}{% endblock %}
    </style>
    {% block head %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
