<div class="location-bar" id="location-bar" data-cookie-name="minoo_location">
  <div class="location-bar__inner">
    <span class="location-bar__icon" aria-hidden="true">&#x1F4CD;</span>
    <span class="location-bar__text" id="location-text">Detecting location&hellip;</span>
    <button class="location-bar__toggle" id="location-toggle" type="button" aria-expanded="false">Change</button>
  </div>
  <div class="location-bar__dropdown" id="location-dropdown" hidden>
    <label for="location-search" class="visually-hidden">Search communities</label>
    <input class="location-bar__input" id="location-search" type="search"
           placeholder="Search communities&hellip;" autocomplete="off">
    <ul class="location-bar__results" id="location-results" role="listbox"></ul>
  </div>
</div>
