<div class="crisis-callout" role="region" aria-labelledby="crisis-community-callout-title">
  <h2 id="crisis-community-callout-title" class="crisis-callout__title">{{ trans(crisis_callout.title_key) }}</h2>
  <p class="crisis-callout__body">{{ trans(crisis_callout.body_key) }}</p>
  <a class="crisis-callout__cta" href="{{ lang_url(crisis_callout.href) }}">{{ trans(crisis_callout.cta_key) }}</a>
</div>
